@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.font-manrope {
  font-family: 'Manrope', sans-serif;
}

.glow {
  transition: all 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.glow:hover {
  box-shadow: #52ffa8 0px 3px 28px 0px;
}